@import "../node_modules/tailwindcss/base";
@import "../node_modules/tailwindcss/components";
@import "../node_modules/tailwindcss/utilities";

@font-face {
  font-family: 'Misto'; /* The name you want to use for this font */
  src: url('/public/fonts/Misto.otf') format('opentype'); /* opentype (modern browsers) */
  font-weight: normal; /* You can set specific weights (normal, bold, etc.) */
  font-style: normal;  /* Set specific styles (normal, italic, etc.) */
}

$primary-color: #333;
$secondary-color: blue;
$background-color: #f0f0f0;
$heading-font: 'Misto', sans-serif;


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $background-color;
  margin: 0;


  * {
    color: #2C2525;
  }
}

.ff-heading {
  font-family: $heading-font;
}

.edge-border {
  & > div {
    color: #595959;
    height: 100%;
    width: 100%;
  }

  &.top-0.left-0 > div {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 20px;
      width: 100%;
      height: 1px;
      background-color: currentColor;
    }

    &::after {
      content: "";
      position: absolute;
      left: 21px;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: currentColor;
    }
  }

  &.top-0.right-0 > div {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 20px;
      width: 100%;
      height: 1px;
      background-color: currentColor;
    }

    &::after {
      content: "";
      position: absolute;
      right: 21px;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: currentColor;
    }
  }

  &.bottom-0.left-0 > div {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 20px;
      width: 100%;
      height: 1px;
      background-color: currentColor;
    }

    &::after {
      content: "";
      position: absolute;
      left: 21px;
      bottom: 0;
      width: 1px;
      height: 100%;
      background-color: currentColor;
    }
  }

  &.bottom-0.right-0 > div {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 20px;
      width: 100%;
      height: 1px;
      background-color: currentColor;
    }

    &::after {
      content: "";
      position: absolute;
      right: 21px;
      bottom: 0;
      width: 1px;
      height: 100%;
      background-color: currentColor;
    }
  }
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Marquee styles */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  // .marquee__content {
  //   animation-play-state: paused !important;
  // }
}

/* Enable animation */
.enable-animation .marquee__content {
  animation: scroll 10s linear infinite;
}

/* Reverse animation */
.marquee--reverse .marquee__content {
  animation-direction: reverse;
}

/* Pause on hover */
.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

/* Attempt to size parent based on content. Keep in mind that the parent width is equal to both content containers that stretch to fill the parent. */
.marquee--fit-content {
  max-width: fit-content;
}

/* A fit-content sizing fix: Absolute position the duplicate container. This will set the size of the parent wrapper to a single child container. Shout out to Olavi's article that had this solution 👏 @link: https://olavihaapala.fi/2021/02/23/modern-marquee.html  */
.marquee--pos-absolute .marquee__content:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

/* Enable position absolute animation on the duplicate content (last-child) */
.enable-animation .marquee--pos-absolute .marquee__content:last-child {
  animation-name: scroll-abs;
}

@keyframes scroll-abs {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

/* Other page demo styles */
.marquee__content > * {
  flex: 0 0 auto;
  // color: white;
  // background: dodgerblue;
  // margin: 2px;
  // padding: 1rem 2rem;
  // border-radius: 0.25rem;
  // text-align: center;
}